*/__pycache__
*.pth
data/
best/
/.idea/

dist/
build/
*.egg-info/
TFBoard/
experiments/
__pycache__/

env/
.polyscope.ini
figures/
log/
data
data-local/
shapenetcore_partanno_segmentation_benchmark_v0_normal/